body {
    position: relative; 
}
.navbar li a{
    color: white;
    font-family: Montserrat, sans-serif;
}
.navbar-brand {
    margin-left: 5%;
    font-family: 'Josefin Sans', sans-serif;
}
/*Carousel Section*/
.carousel-caption.top {
    top: 26%;
    width: 25%;
    height: 43%;
    left: 0;
    padding-top: 1%;
    padding-left: 3%;
    text-align: left;
    color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    background: rgba(0, 0, 0, 0.4);
}
.carousel-caption.top a {
    background: none!important;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}
.carousel-caption.top a:hover, .carousel-caption.top a:active, .carousel-caption.top a:focus {
    color: #A742F4;
    border-color: #A742F4 !important;
    outline: none;
}
.carousel-item img {
    width: 100%;
    height: 600px;
}
/*Common*/
.row {
    width: 100% !important;
}
#events, #rules, #transport, #contact, #footer {
    padding: 50px;
    font-family: 'Titillium Web', sans-serif;
    background-size: cover;
}
h1 {
    color: white !important;
    padding-bottom: 30px;
    font-weight: normal !important;
    font-family: 'Ubuntu Condensed', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*Home*/
#home {
    margin-top: 55px;
}
/*Events*/
#events {
    background-image: url("Background1.jpg");
}
#events .card {
    width: 200px;
    background-color: inherit;
    border: none !important;
}
#events .card-body{
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: 200px;
}
.card-body a {
    background: none!important;
    font-weight: bold;
    color: white !important;
    border: 2px solid white;
    border-radius: 6px;
}
.card-body a:hover, .card-body a:active, .card-body a:focus {
    color: #A742F4 !important;
    border-color: #A742F4 !important;
    outline: none;
}
.modal-body {
    text-align: left !important;
}
.modal-body p{
    padding-left: 3%;
}
/*Rules*/
#rules {
    background-image: url("Background2.jpg");
}
li {
    margin-bottom: 1%;
}
/*Transport*/
#transport {
    background-image: url("Background3.jpg");
}
#accordion .card {
    margin-top: 0.8% !important;
}
#transport .material-icons {
    color: white;
}
.material-icons:hover, .material-icons:active, .material-icons:focus {
    color: black;
}
/*Contact*/
#contact {    
    background-image: url("Background4.jpg");
    font-weight: bold;
}
#contact .row {
    padding-top: 25px;
    padding-bottom: 25px;
}
iframe {
    width: 350px;
    height: 300px;
    margin: 0px auto;
}
#contact .card {
    margin: auto;
    background: inherit;
    border: none !important;
    color: whitesmoke;
}
#contact .card-header {
    background-color: #1e90ff;
    border: none !important;
}
#contact .material-icons {
    color: white !important;
}
/*Footer*/
#footer {
    background-image: url("Background5.jpg");
    background-size: cover;
    color: black;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 60px;
}
#footer .material-icons {
    color: black;
}
/*Media Queries*/
@media only screen and (min-width:899px) {
    .date {
        display: none !important;
    }
}
@media only screen and (max-width:899px) {
    .carousel-caption {
        display: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .carousel-item img {
        height: 400px;
    }
    iframe {
        margin: 0;
        width: 200px;
        height: 250px;
    }
}
/*Date Row on small screens*/
.col-12 {
    text-align: center;
}
.row.date {
    margin: 0;
    width: 100% !important;
}
.date {
    padding: 4%;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    background-color: #525252;
}
.date a {
    background: none!important;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}
.date a:hover, .date a:active, .date a:focus {
    color: #A742F4;
    border-color: #A742F4 !important;
    outline: none;
}
